.about {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-contianer {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 30px;
}

.about-text p {
    font-weight: var(--font-weight400);
    font-size: var(--font-size16);
    color: var(--color-grey);
    line-height: var(--line-height22);
}

.about-text button {
    width: 150px;
    font-weight: var(--font-weight400);
    font-size: var(--font-size14);
    text-align: center;
    color: var(--color-green);
    padding: 10px 25px;
    border: 1px solid var(--color-green);
    border-radius: 20px;
}

.read-data.hide {
    display: none;
}

.about-img {
    width: 90%;
}

.aboutimage-img {
    width: 100%;
}



@media screen and (min-width:768px) {
    .about-contianer {
        align-items: center;
    }

    .about-parent {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .about-text,
    .about-img {
        width: 50%;
    }

    /* .about-img .about-image2 {
        max-width: 300px;
        left: 30%;
        bottom: -18%;
    } */

    .aboutimage-img {
        width: 90%;
        height: 490px;
    }

    .about-text .heading-s {
        text-align: start;
        font-weight: var(--font-weight400);
    }


}