.feedback {
    width: 100%;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
}

.feedback-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
}

.feed-parent {
    padding: 20px;
    width: 90%;
    margin-top: 35px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    column-gap: 20px;
}

.feedback-container::before {
    content: "";
    position: absolute;
    top: 32%;
    left: 33px;
    width: 50px;
    height: 50px;
    background-image: url("../images/menu (2).png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9;
}

.feed-card {
    min-width: 335px;
    height: 254px;
    border-radius: 11px;
    background: var(--color-white);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
}

.feed-card p {
    font-weight: var(--font-size-14);
    font-size: var(--font-size-16);
    line-height: var(--line-height22);
    color: var(--color-black1);
}

.feed-card .profile {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.profile .profile-img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-img img {
    width: 100%;
}

.profile-text span {
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-16);
    text-transform: capitalize;
    line-height: var(--line-height24);
}

.profile-text p {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-14);
    text-transform: capitalize;
    line-height: var(--line-height24);
}

@media screen and (min-width:768px) {
    .feedback-container {
        align-items: center;
    }

    .feed-parent {
        column-gap: 40px;
        padding: 40px;
    }

    .feedback-container::before {
        width: 80px;
        left: 130px;
        top: 28%;
    }

    .scroll-left,
    .scroll-right {
        position: absolute;
        top: 0;
        bottom: -130px;
        margin: auto;
        height: 50px;
        width: 50px;
        background: var(--color-white);
        border-radius: 50%;
        box-shadow: var(--box-shadow);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .scroll-left {
        left: -3px;
    }

    .scroll-right {
        right: -3px;
    }

    .scroll-left::before {
        content: "";
        position: absolute;
        height: 10px;
        width: 10px;
        border-left: 4px solid var(--color-black);
        border-bottom: 4px solid var(--color-black);
        transform: rotate(45deg);
        z-index: 999;
    }

    .scroll-right::before {
        content: "";
        position: absolute;
        height: 10px;
        width: 10px;
        border-top: 4px solid var(--color-black);
        border-right: 4px solid var(--color-black);
        transform: rotate(45deg);
        z-index: 999;
    }

}