.video {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.v-heading {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.video-screen {
    /* width: 100%; */
    position: relative;
    display: inline-block;
    background: var(--vbg);
    /* min-width: 377px; */
    opacity: 1;
}


.video-screen video {
    /* width: 100%; */
    /* height: 100%; */
    display: block;
}

.play-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.play-button .play {
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 15px solid #050505;
    transform: rotate(90deg);
}

@media screen and (min-width:768px) {
    .video-container{
        position: relative;
    }

    .play-button {
        height: 80px;
        width: 80px;
    }

    .play-button .play {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 30px solid #050505;
        transform: rotate(90deg);
    }

    .v-heading{
        align-items: center;
        position: absolute;
        z-index: 9;
        top: 40px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .v-heading .heading-p,
    .v-heading .heading-s{
        color: var(--color-white);
    }
}